<!DOCTYPE html>
<html lang="en" ng-app="zfpxMod">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <style>
        div{
            border:red 1px solid;
        }
    </style>
</head>
<body ng-init="isShow=true">
<div  ng-controller="watchCtrl"  ng-if="isShow">
    <input type="text" ng-model="one">
    <input type="text" ng-model="two">
    <input type="text" ng-model="three">
</div>
<script src="../lib/angular/angular.js"></script>
<script>
 angular.module('zfpxMod',[]);
 angular.module('zfpxMod').controller('watchCtrl',function($rootScope,$scope,$timeout){
     $scope.$watch('one',function(newVal,oldVal){
         $scope.two = newVal;
     });
     $scope.$watch('two',function(newVal,oldVal){
         $scope.three = newVal;
         $scope.one = Math.random();
     });
 });

</script>
</body>

</html>