<!DOCTYPE html>
<html lang="en" ng-app="zfpxMod">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">
</head>
<body class="container" ng-controller="zfpxCtrl">
<form action="" name="userform" novalidate="novalidate">
<div class="form-group" ng-class="{'has-error':userform.password.$invalid && userform.password.$dirty}">
    <label for="password" class="control-label">密码</label>
    <input name="password" type="password" id="password" class="form-control" ng-model="user.password">
</div>
    <div class="form-group" ng-class="{'has-error':userform.repassword.$invalid && userform.repassword.$dirty}">
        <label for="password" class="control-label">重复密码</label>
        <input same-password="user.password" name="repassword" type="text" id="repassword" class="form-control" ng-model="user.repassword">
    </div>
    <div class="form-group">
        <label for="balance">存款</label>
        <input  money type="text" class="form-control" ng-model="user.balance" name="balance" id="balance">
    </div>
</form>
<pre>
    {{userform | json}}
      {{user | json}}
</pre>
</body>
<script src="../lib/angular/angular.js"></script>
<script>
    angular.module('zfpxMod',[]);
    angular.module('zfpxMod').controller('zfpxCtrl',function($scope){
        $scope.user = {};
        $scope.userform = {};
    });
    angular.module('zfpxMod').directive('samePassword',function(){
        return {
            require:'ngModel',
            link:function(scope,element,attrs,ngModel){
                //每个属性代表一个验证器
                ngModel.$validators.validSame = function(modelValue,viewValue){
                    var val = viewValue || modelValue;
                    //eval计算表达式的值
                    return val == scope.$eval(attrs['samePassword']);
                }

                scope.$watch(function(){
                    return scope.$eval(attrs['samePassword']);
                },function(newVal,oldVal){
                    console.log(scope.$eval(attrs['samePassword']),scope.user.repassword);
                    //设置字段值的有效性
                    ngModel.$setValidity('validSame',scope.$eval(attrs['samePassword']) == scope.user.repassword );
                });

            }
        }
    });

    angular.module('zfpxMod').directive('money',function(){
        return {
            require:'ngModel',
            link:function(scope,element,attrs,ngModel){
                //从视图到模型
                ngModel.$parsers.push(function(viewValue){
                    return viewValue.slice(1,viewValue.length-1);
                });
                //从模型到视图
                ngModel.$formatters.push(function(modelValue){
                    return '$'+(modelValue||'');
                });
                ngModel.$formatters.push(function(modelValue){
                    return (modelValue||'')+'$';
                });
            }
        }
    });
</script>
</html>